sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2 
- gem install tilt
- sudo pip install git+https://github.com/rdhyee/ebooklib.git
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git

- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt
- asciidoctor -a toc,idprefix=xx_,version=$VERSION -b xhtml5 -T ./asciidoctor-htmlbook/htmlbook-autogen/
  -d book book.asciidoc -o book.html
- git clone https://github.com/gitenberg-dev/HTMLBook

# make book.html available to jinja2 environment by putting it into templates
- cp book.html asciidoctor-htmlbook/gitberg-machine/templates/

- /usr/bin/python asciidoctor-htmlbook/gitberg-machine/machine.py -o . -m metadata.yaml book.html
- xsltproc -stringparam external.assets.list " " ./HTMLBook/htmlbook-xsl/epub.xsl book.html
- cp ./HTMLBook/stylesheets/epub/epub.css OEBPS
- if [ -e cover.jpg ]; then cp cover.jpg OEBPS/cover.jpg; fi
# look for first images directory and one found, copy over to ./OEBPS
- find . -name images -type d | head -n 1 | xargs -I {} mv {} ./OEBPS/
- zip -rX book.epub mimetype
- zip -rX book.epub OEBPS/ META-INF/
- if test -d "OEBPS/images/"; then zip -rX book.epub OEBPS/images/ ;fi
- mv book.epub A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.epub
- ebook-convert A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.epub A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.mobi
- xvfb-run ebook-convert A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.epub A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: Crn1fIw6zmnixCEt59Iw2A8rUgV5iB/RPUXlElx/VCN40I4tyOw0FouNblfEL8e90qeycTT2WWR7RTmaO6+nLdA7iid/DF+fc2ACrPa3HhlSfNiAkIZXv+SWXNVedDNAnxWhmCnHYvkp2AnTQpLxWB7PgsEwN/p50bnS5iKm/s3X07xpy2P9Of4rqsXrjOSZgtQHE+kcwlGFmJLhnE7QheUAzLNpbEV94TRhpHEtiUUUAxG4ojn2s6OBHT/zqa+oghaTJ9hvZpJEpYdoOQ63qZv8FrRxj5WUaxsu6aaE2Km/il4921Vgm4sHU+Vw3xHl/oy68XsChzHXnK0dXoue2A1RbbxkPhwJd4R1NtR52eubZYLFNSoLQVkCMUCyATaSJCwKYJBpBUJ3AXk0mwBmRNDyJbKVmyJ4CjNy4WN1WxqzwHk5evTneWYeX1OtdJx750RR0BkfLq5QTpBJv8J4w0uO2NUw/qMpll6UczsTJw22fI67S8Yg6rJ45apB23S533spuPVO2cJghVeMcxf2obHiQ1el25mDkf6DG6Qk1d3L6cHKjfkXSAuAxpMZwasxVggLHEBUdsYs6uvnK867IofN9FrNlIdAGNjahSN6RlsEwJo+Q0eRvMdYeWs45y3kKAFoTk7LmRumzqLwO3AkCmXsQzLOsHRss7iVXlOcD7E=
  file:
    - A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.epub
    - A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.mobi
    - A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time.pdf
  "on":
    repo: GITenberg/A-Little-Princess-Being-the-whole-story-of-Sara-Crewe-now-told-for-the-first-time_146
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre